@model IEnumerable<SpoorthiShoppingCart.Web.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "View";
}
<div style="font-family:Arial">

    <h2>View</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        @Html.Partial("~/Views/Shared/ProductPartialViews/_ProductHeader.cshtml", Model.FirstOrDefault())

        @foreach (var item in Model)
        {
            @Html.Partial("~/Views/Shared/ProductPartialViews/_ProductDetails.cshtml", item)
        }

    </table>

</div>